cmd/mailbox_campaign/mailbox_campaign
cmd/mailbox_import_csv/mailbox_import_csv
cmd/mailbox_sender/mailbox_sender
cmd/mailbox_server/mailbox_server
csv/
dev-run-docker-test.sh
prod-run-cmd-s.sh
venv/
